// Style pour le composant parent : NavBar
.nav-bar {
  background-color: #22506c;
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Media Query

// NavBar
@media screen and (max-width: 1024px) {
  .nav-bar {
    width: 100vw;
  }
}
