.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 121px;
  height: 55px;
  color: #fff;
  position: relative;
  cursor: pointer;
  .icon {
    font-size: 1.5em;
  }

  .name {
    font-size: 0.8em;
    width: 70px;
  }
}

.tabs-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/images/components/sidebar/tabs/yellow\ selected.svg");
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tabs-container.active .tabs-background {
  opacity: 1;
}
