.container {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 20px;
  background: linear-gradient(185deg, #f1f1f1);
  box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff;
  border-radius: 10px;
  overflow-y: auto;
}

// Style pour la scroll bar
.container::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

.container::-webkit-scrollbar-track {
  background: #ffffff; /* Couleur de la piste */
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}
