.container {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 20px;
  background: linear-gradient(185deg, #f1f1f1);
  box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff;
  border-radius: 10px;
  overflow-y: auto;
  .top-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;
    animation: top-content-wrait 1s ease;

    .right-elements {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 30px;
    }
  }
}

// Style pour la scroll bar
.container::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

.container::-webkit-scrollbar-track {
  background: #ffffff; /* Couleur de la piste */
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}

// Animation pour l'apparition de la filter bar et du bouton nouveau ainsi que le titre
@keyframes top-content-wrait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
