// Style pour la page "MesCodes.jsx"
.mes_codes_page__container {
  position: absolute;
  height: calc(100% - 94px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 122px);
  top: 94px;
  left: 122px;
}
