.modal {
  .modal-content {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 10px;
    box-shadow: 0 0 20px 8px #0000002e;
    border: 1px solid rgba(0, 0, 0, 0.203);
    animation: modal-content-wrait 0.2s linear;
    padding: 30px;
    user-select: none;

    .modal-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close,
      .deplace {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        cursor: pointer;
      }

      .close {
        font-size: 1.6em;
        background-color: #d9d9d9;
        color: rgb(0, 0, 0);
      }

      .deplace {
        background-color: #bcd2fc;
        font-size: 1.3em;
        cursor: grab;
      }
    }

    .modal-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .modal-top-content {
        display: flex;
        flex-direction: column;

        gap: 40px;
        margin-top: 50px;
        .modal-title {
          height: 30px;
          border-radius: 3px;
          border: 1px solid black;
          padding: 0 0 0 10px;
        }
        .modal-select-img {
          display: flex;
          flex-direction: column;
          color: #555;
          border: 1px solid #22506c;
          border-radius: 3px;
          .select-img-text {
            input[type="file"]::file-selector-button {
              cursor: pointer;
              z-index: 1;
              font-size: 0.9em;
              background-color: #22506c;
              padding: 5px 10px;
              height: 30px;
              border: none;
              color: #fff;
              margin-right: 12px;
            }
          }
        }
      }

      .modal-category-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        border-radius: 3px;
        background-color: #bcd2fc;

        .category-title {
          font-size: 0.75em;
          padding-top: 4px;
        }
        select {
          border: 1px solid black;
          border-radius: 3px;
          background-color: #22506c;
          color: #fff;
          padding: 3px;
          height: 28px;
          option {
            background-color: #fff;
            color: black;
          }
        }
      }
      .modal-textarea-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 15px;
        align-items: center;
        background-color: #22506c0f;
        padding: 10px;
        border-radius: 2px;
        .modal-input {
          border: none;
          background-color: #22506c;
          color: #fff;
          height: 30px;
          border-radius: 3px;
          padding-left: 10px;
          max-width: 200px;
        }

        .modal-input::placeholder {
          color: #fff;
        }
        .modal-text-area {
          background-color: #22506c;
          border-radius: 5px;
          min-width: 400px;
          min-height: 10px;
          padding: 10px;
          color: #fff;
        }
        .modal-text-area::placeholder {
          color: #fff;
        }
        .remove-textarea {
          color: #fff;
          background-color: rgba(255, 0, 0, 0.399);
          border: none;
          border-radius: 50%;
          padding: 5px 5px 2px 5px;
          margin-bottom: 10px;
          position: absolute;
          right: 40px;
          cursor: pointer;
        }
      }
      .add-textarea {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        background-color: #bcd2fc;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
      .modal-btn-submit {
        background-color: #fec399ce;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding: 0 10px;
        margin-top: 50px;
        font-size: 0.77em;
        cursor: pointer;
        color: #894a01;
        font-weight: 600;
      }
    }
  }
}

.code-area::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

.code-area::-webkit-scrollbar-track {
  background: #ffffff; /* Couleur de la piste */
  border-radius: 10px;
}

.code-area::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 10px;
}

.code-area::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}

@keyframes modal-content-wrait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
