.modal {
  .modal-content {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 10px;
    box-shadow: 0 0 20px 8px #0000002e;
    border: 1px solid rgba(0, 0, 0, 0.203);
    animation: modal-content-wrait 0.4s linear;
    padding: 30px;
    user-select: none;

    .modal-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close,
      .deplace {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        cursor: pointer;
      }

      .close {
        font-size: 1.6em;
        background-color: #d9d9d9;
        color: rgb(0, 0, 0);
      }

      .deplace {
        background-color: #bcd2fc;
        font-size: 1.3em;
        cursor: grab;
      }
    }

    .modal-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        font-size: 1em;
        font-weight: 600;

        input {
          margin-top: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid black;
        }

        .modal-text-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          animation: modal-content-wrait 0.5s ease-in-out;

          .input-langage {
            background-color: #22506c6d;
            border: 1px solid black;
            padding: 3px 10px;
            border-radius: 5px;
          }

          .code-area-content {
            display: flex;
            flex-direction: row;

            .code-area {
              background-color: #22506cbd;
              width: 400px;
              height: 100px;
              max-width: 800px;
              max-height: 800px;
              min-height: 30px;
              color: #fff;
              border-radius: 10px;
              border: none;
              margin-top: 20px;
            }

            .btn-remove-text-area {
              height: 23px;
              width: 23px;
              border-radius: 50%;
              position: relative;
              top: 25px;
              right: 28px;
              padding: 3px 0 0 0;
              background-color: #ff4f4f9b;
              color: #ffaaaa;
              border: 1px solid #fff;
              cursor: pointer;
            }
          }
        }
      }

      .btn-add-text-area,
      .button-create {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 30px;
        border: none;
        cursor: pointer;
      }

      .btn-add-text-area {
        gap: 5px;
        background-color: rgba(0, 0, 255, 0.187);
        padding: 0 10px;
        margin-bottom: 50px;
      }

      .button-create {
        margin-top: 10px;
        background-color: #feb27bdd;
        color: #894a01;
        width: 6dvb; /* Note: This unit might need to be adjusted for compatibility */
      }
    }
  }
}

.code-area::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

.code-area::-webkit-scrollbar-track {
  background: #ffffff; /* Couleur de la piste */
  border-radius: 10px;
}

.code-area::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 10px;
}

.code-area::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}

@keyframes modal-content-wrait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
