// Style pour la page "Mesnotes.jsx"
.page_notes_container {
  position: absolute;
  height: calc(100% - 94px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 122px);
  top: 94px;
  left: 122px;
}
